.ql-toolbar.ql-snow {
	border: none;
}

.ql-container.ql-snow {
	border: none;
}

.ql-header {
	color: #fff;
}

.ql-editor[data-placeholder]::before {
	color: #666;
}

.ql-editor {
	font-size: 16px;
	line-height: 1.5;
	font-weight: 400;
	font-style: normal;
	font-variant: normal;
	font-optical-sizing: auto;
	font-kerning: auto;
	font-feature-settings: "liga", "clig", "kern";
}
